.main{
    display: flex;
    justify-content: space-between;
}
h1{
    color: hsl(240, 100%, 5%);
}
ul{
    display: flex;
    list-style: none;
    justify-items: right;
}
ul li{
    color: hsl(236, 13%, 42%);
    font-size: 20px;
    cursor: pointer;
}
ul li:hover {
    color: hsl(5, 85%, 63%);
}